body {
	background: #0B0B0B;
}
	
#contents {
	background:#444;
	width:800px;
	margin-right:auto;
	margin-left:auto;
	color: #9c3;
}

h1 { 

}

A:link {

}

A:hover {

}

a:visited {

}

#headblock address { 

}
 
 #home{
   background: #222;
	 padding: 35px;
 }
 

 h3 {

}
 
 img {
   width:260px;
}

img.left {

}

#footer {

}

#clearer {

}
